<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <!-- 松耦合demo -->
	<bean id="outputHelper" class="com.shiyanlou.demo.looselyCoupled.OutputFileHelper">
		<property name="outputGenerator" ref="CsvOutputGenerator" />
	</bean>
	
	<bean id="CsvOutputGenerator" class="com.shiyanlou.demo.looselyCoupled.CsvOutputGenerator" />
	<bean id="JsonOutputGenerator" class="com.shiyanlou.demo.looselyCoupled.JsonOutputGenerator" />

</beans>